@charset "UTF-8";
.shop-phone {
  float: left;
  display: none;
  padding: 0 0 10px;
  width: 200px;
  font-size: 19px;
  line-height: 20px;
  position: relative;
  padding-left: 54px;
  color: #fff; }
  @media (max-width: 1199px) {
    .shop-phone {
      display: none; } }
  .shop-phone i {
    position: absolute;
    top: 2px;
    left: 0;
    font-size: 42px;
    line-height: 42px;
    color: white; }
  .shop-phone strong {
    font-weight: normal; }

#contact-link {
  float: right;
  padding: 3px 0 0;
  margin-top: 7px; }
  @media (max-width: 479px) {
    #contact-link {
      display: none; } }
  #contact-link a {
    display: block;
    color: white;
    cursor: pointer;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    #contact-link a:before {
      content: "";
      font-family: "FontAwesome";
      font-size: 18px;
      line-height: 18px;
      vertical-align: -2px;
      padding-right: 9px; }
    #contact-link a:hover, #contact-link a.active {
      color: #333333; }

@media (max-width: 767px) {
  #contact_block {
    margin-bottom: 20px; } }
#contact_block .label {
  display: none; }
#contact_block .block_content {
  color: #888888; }
#contact_block p {
  margin-bottom: 4px; }
#contact_block p.tel {
  font: 400 17px/21px Arial, Helvetica, sans-serif;
  color: #333333;
  margin-bottom: 6px; }
  #contact_block p.tel i {
    font-size: 25px;
    vertical-align: -2px;
    padding-right: 10px; }
